html {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  /* background: rgb(238,174,202); */
}

body {
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) fixed; */
  /* background: radial-gradient(circle, rgba(244,235,224) 30%, rgba(148,187,233,1) 100%) fixed; */
  font-size: calc(10px + 2vmin);
  background-color: rgb(244, 235, 224);
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Anton', 'Poppins'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Anton';
  src: url("./fonts/Anton-Regular.ttf") format('woff2');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
